.advantage__icon {
  background-color: @green;
  width: 60px;
  height: 60px;
}

// ul
.advantage__list {
  list-style-type: none;
    .advantage__item {
      margin-bottom: 26px;
    }
}

.advantage__text {
  p {
    margin-bottom: 14px;
    margin-top: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 0.9;
    color: @gray;
  }
}
