.button {
  display: inline-block;
  width: 318px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 12px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
}

.button:focus,
.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #99c684;
  outline: none;
}
