.button {
  .font-main();
  padding-top: 13px;
  padding-bottom: 12px;
  width: 280px;
  margin: 0 auto;
  display: block;
  border: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  background-color: @green;
  color: @white;
}
