.contacts {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.contacts__place {
  line-height: 20px;
  margin: 0;
  padding: 0;
  width: 140px;
}

.contacts__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 19px;
    line-height: 25px;
    color: #111111;
    width: 180px;
    text-transform: uppercase;
    padding-left: 40px;
  }

  .contacts__place {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    width: 150px;
    text-align: right;
    padding-right: 46px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 65px;
  }

  .contacts__city {
    display: block;
    padding-top: 22px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__slogan {
    padding-top: 60px;
    padding-left: 78px;
  }

  .contacts__place {
    padding-top: 60px;
    padding-right: 91px;
    text-align: left;
  }

  .contacts {
    padding: 0;
  }
}
