.footer {
  margin: 0 auto;
  .padding-global();
  width: 320px;
  background-color: @light-gray;
}

.footer__logo-text{
  display: flex;
  border-bottom: 1px solid @border-footer;
  img {
    margin: auto;
    padding: 39px 0 31px 0;
  }
}

.footer__list {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  margin-right: 20px;
  margin-left: 20px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: @gray;
}

.footer__link-academy {
  padding: 28px 0;
  .arial();
  font-size: 16px;
  line-height: 16px;
  color: @gray;
}



//*********************************************************************************
//************************************планшет**************************************



@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    padding: 27px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link-vk img{
    width: 30px;
    height: 16px;
  }

  .footer__link-in img{
    width: 23px;
    height: 26px;
  }

  .footer__link-fb img{
    width: 14px;
    height: 28px;
  }

  .footer__logo-text{
    border-bottom: none;
    img {
      width: 128px;
    }
  }
}



//*********************************************************************************
//************************************decstop**************************************



@media screen and (min-width: 1440px) {

  .footer {
    .padding-global(70px);
    width: 1440px;
  }

  .footer__logo-text {
    margin-left: 40px;
  }

  .footer__list {
  }
  .footer__item {
    margin-right: 37px;
    margin-left: 37px;
  }

  .footer__copyright {
    margin-right: 40px;
  }

}
