.header {
  background-color: @white;
  .padding-global();
}

.header__link-logo {
  text-decoration: none;
}

.header__list {
  list-style-type: none;
    .header__nav-link {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      color: @black;
    }
}
