
//блок логотип
.header {
  margin: 0 auto;
  width: 320px;
  background-color: @white;
  outline: 1px dashed #000;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__toggle {
  width: 18px;
  height: 18px;
  outline: 1px dashed #000;
}

.header__logo-text {
  margin-right: 14px;
}

//выпадающее меню
.header__list {
  display: flex;
  flex-direction: column;
}

.header__item:first-child {
  border-top: 1px dashed @border-light-gray;
  height: 63px;
}

.header__item {
  height: 64px;
  border-bottom: 1px dashed @border-light-gray;
  display: flex;
}

.header__nav-link {
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}




//планшет
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    display: flex;
  }

  .top-bar {
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
  }

  .header__logo {
    margin-top: 0px;
    padding-top: 0px;
  }

  .header__logo-text {
    display: none;
  }

  .header__toggle {
    display: none;
  }

  .header__navigation {
    width: 100%;
    outline: 1px dashed #000;
  }

  .header__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 7px;
  }

  .header__item:first-child {
    border-top: 0;
  }

  .header__item {
    border: none;
    margin-right: 35px;
  }

  .header__item:last-child {
    margin-right: 30px;
  }
}

// decstop
@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }

  .top-bar {
    padding: 0 40px;
  }
  .header__item:last-child {
    margin-right: 40px;
  }
}
