
.preview{
  background-color: @white;
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.preview__button {
  .button()
}

.preview__title {
  margin-bottom: 23px;
  margin-top: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 0.9;
  color: @white;
}

.preview__subtitle {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 0.9;
  color: @white;
}

