html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
picture {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  margin: 0 auto 0px auto;
  width: 320px;
  background-color: #ffffff;
}
.header__container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}
/****************************/
.header__logo {
  padding-top: 11px;
  padding-bottom: 16px;
  font-size: 0;
}
.header__logo-text {
  margin-right: 11px;
}
.header__logo-text,
.header__toggle {
  margin-top: 24px;
}
.header__toggle {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}
/****************************/
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__item {
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item:first-child {
  border-top: 1px solid #e6e6e6;
}
.header__nav-link {
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__container-logo {
    padding: 0;
    margin: 0px;
  }
  .header__logo {
    margin: 0px;
    padding: 0px;
  }
  .header__logo img {
    min-width: 173px;
    height: 58px;
  }
  .header__logo-text {
    display: none;
  }
  .header__toggle {
    display: none;
  }
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__item {
    position: relative;
    height: auto;
    border: none;
    margin-top: 22px;
    margin-left: 35px;
  }
  .header__item:first-child {
    border-top: 0;
  }
  .header__item--active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    left: 0;
    top: 30px;
  }
  .header__nav-link {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    margin-top: 54px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .header__container-logo {
    padding: 0px 0;
    margin-left: 40px;
  }
  .header__logo img {
    min-width: 202px;
    height: 59px;
  }
  .header__navigation {
    margin-right: 40px;
    position: relative;
    z-index: 100;
  }
  .header__list {
    padding: 0px;
  }
  .header__item {
    margin-top: 21px;
  }
  .header__item .header__nav-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  .header__item--active::after {
    background-color: #ffffff;
  }
}
.preview {
  margin: 0 auto 22px auto;
  width: 320px;
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.preview__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 0 0 0;
}
.preview__title {
  padding: 0;
  margin: 0px 0 25px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}
.preview__subtitle {
  padding: 0;
  margin: 0px 0px 29px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview__logo {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 3px;
}
.preview__button {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .preview {
    margin-top: 30px;
    margin-bottom: 0;
    width: 768px;
    background-image: none;
  }
  .preview__wrapper {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .preview__title,
  .preview__subtitle {
    color: #111111;
    margin-left: 87px;
  }
  .preview__title {
    width: 415px;
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .preview__subtitle {
    font-size: 20px;
    line-height: 20px;
    position: relative;
  }
  .preview__logo {
    margin-top: -9px;
    width: 709px;
    height: 609px;
  }
  .preview .preview__button {
    position: absolute;
    top: 257px;
    left: 120px;
    width: 245px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .preview {
    min-height: 553px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 80px;
    width: 1440px;
    background-position: right top;
    z-index: 99;
  }
  .preview__wrapper {
    position: relative;
    margin-left: 0px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
  .preview__wrapper::before {
    position: absolute;
    content: "";
    width: 720px;
    height: 696px;
    top: -143px;
    right: -69px;
    background-image: url(../../img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  .preview__title {
    margin: 80px 0px 40px 120px;
  }
  .preview__subtitle {
    margin: 0px 0px 0px 120px;
  }
  .preview__logo {
    position: absolute;
    padding: 0;
    top: 8px;
    left: 490px;
    width: 552px;
    height: 499px;
  }
  .preview .preview__button {
    top: 313px;
    width: 245px;
    height: 52px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}
.contacts {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  outline: 1px dashed #000;
  opacity: 0.3;
}
.contacts__container p {
  color: #111111;
  font-size: 16px;
  text-transform: uppercase;
}
.contacts__text p {
  font-size: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .contacts {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts {
    width: 1440px;
  }
}
.categories {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}
.categories__item {
  position: relative;
  padding: 24px 20px 20px 20px;
  margin-bottom: 20px;
  min-height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f2f2f2;
}
.categories__item:last-child {
  margin-bottom: 0px;
}
.categories__item:nth-child(1) .categories__img {
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
}
.categories__item:nth-child(2) .categories__img {
  top: 34px;
  left: 13px;
  right: 0px;
  width: 67px;
  height: 28px;
}
.categories__img-backroundg {
  margin-right: 20px;
  margin-bottom: 23px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
}
.categories__img {
  position: absolute;
}
.categories__title {
  margin-top: 6px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
}
.categories__container p {
  font-family: "Arial", "Tahoma", sans-serif;
  padding-bottom: 21px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}
.categories__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}
.categories__link .categories__arrow {
  width: 24px;
  height: 13px;
  margin-left: 11px;
  background-image: url(../../img/icon-right-arrow-long.svg);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .categories {
    width: 768px;
    padding: 0 30px 0px 30px;
  }
  .categories__item {
    padding: 73px 52px 62px 52px;
    margin-bottom: 30px;
    min-height: 372px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .categories__item:nth-child(1) .categories__img {
    top: 75px;
    left: 475px;
    width: 140px;
    height: 194px;
  }
  .categories__item:nth-child(2) .categories__img {
    top: 130px;
    left: 412px;
    width: 268px;
    height: 112px;
  }
  .categories__img-backroundg {
    position: absolute;
    left: 445px;
    top: 89px;
    width: 200px;
    height: 200px;
  }
  .categories__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    width: 300px;
  }
  .categories__container {
    width: 380px;
  }
  .categories__container p {
    padding: 0;
    margin-bottom: 55px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Arial", "Tahoma", sans-serif;
  }
  .categories__item:nth-child(2) .categories__container {
    width: 340px;
  }
  .categories__link {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
  .categories__link .categories__arrow {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .categories {
    padding-left: 70px;
    padding-right: 70px;
    width: 1440px;
    margin-bottom: 85px;
  }
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 35px;
  }
  .categories__item {
    padding: 47px 52px 63px 52px;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 572px;
  }
  .categories__item:first-child {
    margin-right: 40px;
  }
  .categories__item:nth-child(2) {
    margin-left: 40px;
  }
  .categories__item:nth-child(1) .categories__img {
    top: 40px;
    left: 70px;
    width: 70px;
    height: 97px;
  }
  .categories__item:nth-child(2) .categories__img {
    top: 70px;
    left: 34px;
    width: 134px;
    height: 56px;
  }
  .categories__img-backroundg {
    left: 52px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
  .categories__title {
    margin: 0px;
    margin: 29px 0px 17px 158px;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 37.02px;
  }
  .categories__container p {
    width: 480px;
    margin-left: 0px;
    margin-top: 36px;
    margin-bottom: 0px;
  }
  .categories__link {
    margin-left: 1px;
    margin-right: 0px;
    padding-top: 9px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
  .categories__link .categories__arrow {
    margin-left: 22px;
  }
}
.advantage {
  margin: 0 auto;
  padding: 28px 20px 42px 20px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}
.advantage .page-title {
  margin-bottom: 39px;
}
.advantage__list {
  margin-bottom: -20px;
}
.advantage__item {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__item.advantage__item:nth-child(1) .advantage__icon {
  background-image: url(../../img/advantage-leaf@1x.png);
}
.advantage__item.advantage__item:nth-child(2) .advantage__icon {
  background-image: url(../../img/advantage-powder@1x.png);
}
.advantage__item.advantage__item:nth-child(3) .advantage__icon {
  background-image: url(../../img/advantage-dining@1x.png);
}
.advantage__item.advantage__item:nth-child(4) .advantage__icon {
  background-image: url(../../img/advantage-clock@1x.png);
}
.advantage__icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68B738;
}
.advantage__text p {
  margin-top: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 51px;
    padding: 51px 30px 55px 30px;
    width: 768px;
    overflow: hidden;
  }
  .advantage .page-title {
    font-size: 60px;
    margin-bottom: 84px;
  }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -88px;
    counter-reset: section;
  }
  .advantage__item {
    outline: 1px dashed #000;
    margin-bottom: 88px;
    width: 245px;
    min-height: 230px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 1;
  }
  .advantage__item:nth-child(odd) {
    -webkit-box-flex: 1.8;
        -ms-flex-positive: 1.8;
            flex-grow: 1.8;
  }
  .advantage__item::before {
    position: absolute;
    left: 115px;
    top: -38px;
    font-size: 281px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    content: counters(section, ".");
    counter-increment: section;
    z-index: -1;
  }
  .advantage__icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 32px;
  }
  .advantage__text {
    width: 250px;
  }
  .advantage__text p {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .advantage {
    padding: 0 70px;
    width: 1440px;
    overflow: visible;
  }
  .advantage .page-title {
    padding: 0px 40px;
  }
  .advantage__list {
    margin: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantage__list .advantage__item {
    margin: 0;
    width: 245px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .advantage__text p {
    margin: 0px;
    word-wrap: wrap;
  }
}
.before-after {
  margin: 0 auto;
  width: 320px;
  background-color: #f2f2f2;
  outline: 1px dashed #000;
  opacity: 0.3;
}
.before-after__subtitle {
  font-size: 14px;
  font-weight: 100;
  color: #111111;
  text-transform: uppercase;
}
.before-after__description {
  max-width: 124px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  font-size: 14px;
  font-weight: 100;
  color: #111111;
  text-transform: uppercase;
}
.before-after__span {
  text-transform: uppercase;
  font-size: 16px;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .before-after {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .before-after {
    width: 1440px;
    min-height: 462px;
    outline: 1px dashed #000;
  }
}
.footer {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  background-color: #f2f2f2;
}
.footer__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
.footer__logo-text img {
  margin: auto;
  padding: 39px 0 31px 0;
}
.footer__list {
  padding-top: 22px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item {
  margin-right: 20px;
  margin-left: 20px;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 18px;
  color: #444444;
}
.footer__link-academy {
  padding: 28px 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    padding: 27px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link-vk img {
    width: 30px;
    height: 16px;
  }
  .footer__link-in img {
    width: 23px;
    height: 26px;
  }
  .footer__link-fb img {
    width: 14px;
    height: 28px;
  }
  .footer__logo-text {
    border-bottom: none;
  }
  .footer__logo-text img {
    width: 128px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding-left: 70px;
    padding-right: 70px;
    width: 1440px;
  }
  .footer__logo-text {
    margin-left: 40px;
  }
  .footer__item {
    margin-right: 37px;
    margin-left: 37px;
  }
  .footer__copyright {
    margin-right: 40px;
  }
}
.button {
  font-family: "Oswald", "Arial", sans-serif;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 14px;
  width: 280px;
  margin: 0 auto;
  display: block;
  border: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #68B738;
  color: #ffffff;
}
.page-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #111111;
}
.catalog {
  margin: 28px auto 0px auto;
  width: 320px;
  background-color: #ffffff;
  padding-bottom: 100px;
}
.catalog__title {
  padding: 0 20px;
  margin: 0px 0px 40px 0px;
}
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-item {
  padding: 0 20px 24px 20px;
  border-top: 1px solid #ededed;
  min-height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-item__image {
  width: 140px;
  font-size: 0;
}
.catalog-item__image img {
  background-repeat: no-repeat;
  background-position: center;
}
.catalog-item__description {
  padding-top: 21px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.catalog-item__page-title {
  margin-bottom: 13px;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.catalog-item__table {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-collapse: collapse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Arial", "Tahoma", sans-serif;
}
.catalog-item__table td {
  width: 140px;
  padding: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.catalog-item__table td:nth-child(even) {
  text-align: right;
}
.catalog-item__button {
  font-size: 16px;
}
.show-all {
  padding: 25px 0;
  min-width: 209px;
  border-bottom: 1px solid #ededed;
}
.show-all__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-image: url(../../img/icon-plus-mobile.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}
.show-all__description {
  text-align: center;
}
.show-all__description .catalog-item__page-title {
  width: 100%;
  line-height: 20px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px;
}
.show-all__paragraph {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  color: #444444;
}
.catalog-item__button--show {
  background-color: #f2f2f2;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .catalog {
    margin-top: 70px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .catalog__title {
    font-size: 60px;
    padding: 0px;
    margin-bottom: 177px;
  }
  .catalog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog-item {
    position: relative;
    padding: 0px 38px 0px 38px;
    margin-bottom: 140px;
    display: block;
    width: 324px;
    min-height: 431px;
    border: 0;
    background-color: #f2f2f2;
  }
  .catalog-item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .catalog-item:nth-child(odd) .catalog-item__image {
    width: 100%;
    position: absolute;
    left: 0px;
    top: -46px;
  }
  .catalog-item:nth-child(even) .catalog-item__image {
    width: 100%;
    position: absolute;
    left: 0px;
    top: -82px;
  }
  .catalog-item__description {
    margin: 164px auto 32px auto;
    width: 245px;
    min-height: 155px;
    display: block;
    padding-top: 0px;
  }
  .catalog-item__page-title {
    margin: 0 auto 19px auto;
    padding: 0;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
  .catalog-item__table {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  .catalog-item__table td {
    margin: 0px;
    padding: 6px 0px 9px 0px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    line-height: 16px;
  }
  .catalog-item__button {
    margin: 0px;
    width: 249px;
    height: 40px;
  }
  .show-all {
    padding: 54px 38px 39px 38px;
    width: 324px;
    border: 1px solid #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .show-all__icon {
    margin: 0 auto;
    height: 60px;
    width: 60px;
  }
  .show-all__description {
    padding: 0;
    margin: 0px 0px 37px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .show-all__description .catalog-item__page-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0px ;
    margin: 0px 0px 28px 0px;
    width: 150px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .show-all__paragraph {
    margin: auto;
    padding: 0;
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    width: 170px;
  }
}
@media screen and (min-width: 1440px) {
  .catalog {
    width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
  }
  .catalog__title {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .catalog__list {
    padding: 0 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1px solid transparent;
  }
  .catalog-item {
    margin-top: 140px;
    margin-bottom: 0;
    width: 245px;
  }
  .catalog-item__description {
    margin-right: 0;
    width: 100%;
  }
  .catalog-item__button {
    width: 169px;
  }
  .show-all {
    margin-top: 140px;
    margin-bottom: 0;
    width: 245px;
    min-height: 431px;
  }
  .catalog-item__button--show {
    width: 169px;
  }
  .header__item .header__nav-link {
    color: #111111;
  }
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Oswald", "Arial", sans-serif;
}

/*# sourceMappingURL=style.css.map */
